APP_PORT=8081
POSTGRES_DB=pagos
POSTGRES_USER=pagos_user
POSTGRES_PASSWORD=
POSTGRES_PORT=5433
RABBITMQ_USER=pagos
RABBITMQ_PASSWORD=
RABBITMQ_PORT=5673
RABBITMQ_MGMT_PORT=15673
SPRING_PROFILES_ACTIVE=dev
IDEMPOTENCY_TTL_HOURS=24
BANCO_EXTERNO_TIMEOUT_MS=5000
